body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

.header__container {
    background-color: #fff;
    color: white;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__title {
    text-align: center;
    margin: 0;
    color: #333;
}

.header__input--search {
    display: block;
    margin: 10px auto;
    background-color: #ebebeb;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.main__container {
    background-color: #e2e2e2;
    padding: 20px;
}

.form__container {
    background-color: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
}

.form__title {
    color: #3b5bdb;
}

.input__box {
    display: block;
    width: 100%;
    margin: 10px();
    background-color: #ebebeb;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
}

.form__button--add-task {
    background-color: #3b5bdb;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0. 3s ease;
}

.form__button--add-task:hover {
    background-color: #357ae8;
    /* Cor mais escura ao passar o mouse */
}

.tasks__container {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 20px;
    margin-top: 20px;
}

.tasks__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.task__item {
    background-color: #ffffff;
    padding: 10px 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

.task-info__container {
    display: flex;
    align-items: center;
}

.task-info__container p {
    margin: 0;
    font-weight: bold;
    color: #333;
}

.task-type {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
}

.span-urgente {
    background-color: #e40404;
}

.span-importante {
    background-color: #f3a703;
}

.span-normal {
    background-color: #028302;
}

.task__button--remove-task {
    background: none;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.form__input-container {
    display: flex;
    gap: 10px;
    /* Espaçamento entre os campos de input */
}




@media (max-width: 768px) {

    .input__box,
    .form__button--add-task {
        width: 100%;
    }

    .header__input--search,
    .form__input--text,
    .form__input--priority {
        margin-top: 10px;
        width: 100%;
    }
}